body {
	font-family: 'Open sans';
}

header {
	background: white;
}


ul li a:hover {
	color: grey;
}

/* Vertical */
#main-content {
	scroll-snap-type: y mandatory;
}

#main-content section {
	scroll-snap-align: start;
}


/* Horizontal*/
.side-scroll-container {
	display: flex;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
}

.proj-container {
	overflow: hidden;
}

.side-scroll-container .carousel-item {
	width: 80%;
	margin: 0px 1em;
	flex-shrink: 0;
	scroll-snap-align: center;
}

.side-scroll-container #carousel-end {
	width: 10%;
	/* background: transparent; */
	margin: 0px 1em;
	flex-shrink: 0;
}

.side-scroll-container .controls {
	position: absolute;
	right: 0;
	bottom: 1em;
	left: 0;
	text-align: center;
}

.controls .dot {
	display: inline-block;
	width: 3em;
	height: 0.8em;
	border-radius: 10%;
	margin: 0px 0.1em;
	background-color: grey;
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 0.2s;
}

.dot:hover {
	opacity: 1;
}


.side-scroll-container .carousel-arrows {
	background: rgb(199, 191, 191);
	position: absolute;
	top: 50%;
	border-radius: 3px;
	padding: 20px 15px;
	opacity: 0.4;
}
.side-scroll-container .carousel-arrows:hover {
	opacity: 0.6;
	cursor: pointer;
}
.carousel-arrows .arrow:hover {
	border: solid black;
	border-width: 0 4px 4px 0;
}

.side-scroll-container .c-a-left {
	left: 0;
	
}

.side-scroll-container .c-a-right {
	right: 0;
}

.controls .active {
	opacity: 1;
}

div.anchor {
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}


.top-nav-block {
	display: block;
	position: relative;
	height: 50px;
}

.shadow-bottom {
	-webkit-box-shadow: 0px 3px 12px 0px rgba(54,54,54,1);
	-moz-box-shadow: 0px 3px 12px 0px rgba(54,54,54,1);
	box-shadow: 0px 3px 12px 0px rgba(54,54,54,1);
}




.arrow {
	border: solid black;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 8px;
  }

.arrow:hover {
	border: solid grey;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 8px;
	cursor: pointer;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
  }
  
.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}



.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }